data/sully/
data/waymo/
data/audi/
data/honda/
data/cifar-10-batches-py
data/cifar-10-python.tar.gz
results/
testing/
testing_sully/
testing_waymo/
testing_audi/
testing_honda/

__pycache__/
__pycache__/*

sample_images/

./Shen_Finetuning/
./Shen_Training/
Shen_Finetuning/
Shen_Training/
Regressor/
/Regressor/
./Regressor/
./Regressor/*
